<% title "Welcome page" %>


<div id="right">
  <h2>Rake routes:</h2>
    <dl class="dl-horizontal">
    	<dt>/admins/sign_in</dt>
    	<dd>Стартовая страница </dd>
    	<dt>/users/login</dt>
    	<dd>Аутентификация юзера</dd>
    	<dt>/users/registration</dt>
    	<dd>Регистрация нового юзера ( Client_side_validation )</dd>
    	<dt>/users/edit</dt>
    	<dd>Редактировать профиль ( только с залогиненым юзером ) </dd>
    	<dt>/posts</dt>
    	<dd>Индексная страница с постами ( кнопки эдит делет доступны только админам )
    		- юзер может редактировать только те посты, которые были опубликованы данным юзером</dd>
    	<dt>/posts/new</dt>
    	<dd>Создавать посты может только админ или залогиенный юзер </dd>
    	<dt>/posts/:id/edit</dt>
    	<dd>Страница доступна только для админа и пользователя создавшего пост</dd>
    	<dt>/posts/:id</dt>
    	<dd>Страница просмотра поста ( с большой фотографией \\ если таковая имеется \\ 
    		присутствует автор статьи и добавление коментариев ( так же их удаление доступно только им самим же и админам )) </dd>
    	<dt>/servants</dt>
    	<dd>Индексная страница всех пользователей ( доступна только для админа - кнопка удалить пользователя без удаления его постов)</dd>
        <dt>/servants/:id</dt>
        <dd>Просмотреть профиль юзера с :id ( все данные на юзера + просмотр последних 2 постов сделаных юзером )</dd>
    	<dt>/categories</dt>
    	<dd>Просмотр и удаление всех категорий ( дступно администрации ) к которым принадлежат посты ( минимум 1 ) </dd>
    	<dt>/categories/new</dt>
    	<dd>Создание новой категории ( админ доступ )</dd>
    </dl>
</div>
<blockquote><h2>This is index page</h2></blockquote>
<%= link_to 'All posts', posts_path, :class => 'btn btn-large btn-block btn-info' %>
