<% title @post.title %>

<blockquote><h2>Edit post</h2></blockquote>

<%= form_for :post, :url => post_path(@post), :html => { :class => "form-horizontal" }, :method => :put do |f| %>
	<%= render :partial => "form", :locals => { :f => f } %>
<% end %>

<%= link_to 'back to post', post_path(@post), :class => 'btn_back btn btn-inverse btn-large'  %> 


