<h1>Listing Posts</h1>


<div id='table_of_posts'>
  <%= render 'table' %>
</div>
  
<div id='paginator'>
  <%= paginate @posts, :window => 3, :remote => true %>
</div>

<br />
<br />
<br />
<% if ( user_signed_in? or admin_signed_in? )%>  
  <%= link_to 'Create new post', new_post_path %>  
<% end %>  


