<% title "Create" %>
<h1>New post</h1>

<%= form_for @post, :validate => true do |f| %>
	<%= render :partial => "error", :locals => { :post => @post } %>
	<%= render :partial => "form", :locals => { :f => f } %>
<% end %>