/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
body {
	background-color: #FAFAFA !important;
	margin: 0 auto !important;
	width: 1350px;
}
input {
	width: 150px !important;
}

#main_image {
	float: left;
}
.admin_name {
	color: red !important;
}
.control-label {
	width: 150px !important;
}
#midls {
	width: 600px;
	margin: 0 auto;
}
#sixhan {
	width: 1000px;
}
#tenhan {
	width: 1000px;
}
.message {
	color: #1C1C1C;
	background-color: #FFC1C1;
	display: inline-block;
	position: absolute;
	left: 520px;
	margin: -5px;
	padding: 0 6px;
	border: 1px solid black;
	border-radius: 5px;
}
#inputName {
	position: relative;
}
.btn-info {
	width: 300px !important;
	margin-left: 50px;
}
#right {
	width: 750px;
	float: right;
	margin-right: 150px;
}
.dl-horizontal dt {
	width: 150px !important;
}
.dl-horizontal dd, .margining {
	margin-left: 180px !important;
}

.form-search {
	text-align: center !important;
	margin: 0 !important;
}
#error_for_check_box {
	color: red;
	margin-left: 180px;
}



.del {
	text-decoration: line-through;
}
.new_post {
	margin-bottom: 20px !important;
	margin-left: 50px;
}
#all_posts_box {
	width: 900px;
	margin-left: 150px;
	padding: 20px 20px 20px 20px;
	background-color: #DCDCDC;
}
.box_of_post {
	background-color: white;
	padding-top: 10px;
	margin-bottom: 50px;
}

.title_box h4 {
	color: #0B2C39;
    font-size: 16px;
    font-style: italic;
    font-weight: normal;
	padding-left: 160px;
	padding-top: 20px;
	margin-bottom: 25px;
	padding-bottom: 2px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.body_box {
	margin: 15px 22px 5px 22px;
	text-indent: 10px;
	color: #605E5E;
	line-height: 18px;
	min-height: 140px;
}
.body_box img {
	margin: 0 20px 5px 5px;
	float: left;
}
.tags {
	margin-left: 15px;
	padding-bottom: 10px;
	float: left;
}
.tags a {
	margin-right: 4px;
}
.time_pablised {
	float: right;
	font-size: 12px;
	margin-right: 50px;
}
.id_of_post {
	float: left;
	margin-left: 12px;
}
.autor {
	float: right;
	margin-right: 12px;
}
.clear {
	clear: both;
}
.controls_area {
	text-align: center;
	padding-bottom: 10px;
	padding-top: 10px;
	background-color: #F9F9F9;
	position: relative;
}
#text_area {
	width: 600px !important;
}
.btn_back {
	margin-left: 50px !important;
	margin-top: 20px !important;
}
.floating {
	float: right;
	margin: 0px !important;
}
#user_country_id {
	width: 190px;
}
#user_state_id {
	width: 190px;
}
#box_of_post_show {
	width: 1250px;
	margin-left: 30px;
}
#box_of_post_show img {
	margin: 0 20px 5px 5px;
	float: left;
}
.title_of_post_show {
	color: #0B2C39;
    font-size: 16px;
    font-style: italic;
    font-weight: normal;
    padding-left: 700px !important;
	padding-bottom: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.text_of_post_show {
	text-indent: 20px;
	color: #605E5E;
	line-height: 22px;
	margin-bottom: 10px;
	min-height: 370px;
}
.avatar_of_post_user {
	float: right;
	font-size: 12px;
}
#form_comment {
	width: 600px;
}
.fild_to_add_comment {
	border: 1px solid #E5E2D5;
	margin-left: 100px;
	padding: 10px 20px 0px 20px;
	width: 780px;
	background-color: #F6F5F0;
	min-height: 100px;
	margin-bottom: 10px;
	position: relative;
	padding-bottom: 10px;
}
.field_to_add {
	border: 1px solid #E5E2D5;
	width: 500px;
	height: 100px;
}
.add_btn_for_com {
	margin-top: 40px;
	margin-left: 20px;
}
.bottom_marg {
	margin-bottom: 5px;
}
.autor_com {
	float: left;
}
.del_com {
	position: absolute;
	right: 5px;
	bottom: 5px;
}
.comment_body {
	overflow: hidden;
}
.time_com {
	float: right;
}
.btn_size {
	width: 40px !important;
	margin-left: 0px !important;
}
.margining tr td {
	vertical-align: middle !important;
}
.count_comments {
	position: absolute;
	top: 14px;
	left: 60px;
}

.input-append {
	margin-bottom: 15px !important;
}
.from_top_marg {
	margin-top: 4px !important;
}




.raiting {
	position:relative; 
	height:16px; 
	width:83px; 
	float:left;
} 
.pointer_for_star {
	cursor: pointer;
}
.raiting_blank {
	height:16px; 
	position:absolute;
	width:83px; 
	background: url('../images/ratings.png'); 
}
.raiting_votes {
	height:16px; 
	position:absolute;
	background: url('../images/ratings.png');
	background-position: 0 -16px;
}
.raiting_hover {
	height:16px; 
	position:absolute;
	background: url('../images/ratings.png');
	background-position: 0 -32px; 
}
.in_center {
	margin-left: 500px;
}
.clear_btn_for_stars {
	margin-left: 10px;
}



.position_for_starz {
	position: absolute;
	right: 20px;
	bottom: 18px;
}
.raiting_index {
	position:relative; 
	height:16px; 
	width:83px; 
	float:left;

} 
.raiting_blank_index {
	height:16px; 
	position:absolute;
	width:83px; 
	background: url('../images/ratings.png'); // добавить в Public звёздочки ( в трёх видах )
}
.raiting_votes_index {
	height:16px; 
	position:absolute;
	background: url('../images/ratings.png');
	background-position: 0 -16px;
} 
.back_photo_btn {
	margin-left: 40px;
	margin-bottom: 10px !important;
}
#grid {
	text-decoration: none;
	list-style-type: none;
}
#grid li {
	float: left;
	margin: 5px;
	border: 1px solid black;
}
#grid img:hover {
	opacity: 0.5;
}

#photos_solo_img {
	margin-left: 20px;
	margin-right: 20px;
	float: left;
}
.upload_btn_for_photo {
	margin-left: 20px;
	margin-top: 5px;
}
.all_upload_field {
	margin-left: 50px;
}
/*-------------------------FILE FIELD START------------------------------------*/
#test {
    position: relative;
}

#test .wrapper {
    opacity: 0;
    cursor: pointer;
    position: absolute;
    top: 0;
    z-index: 2;
}

#test .wrapper:hover {
    opacity: 0.5;
}

#test button {
    width: 200px;
    padding: 3px 5px;
    position: relative;
    top: 0;
    z-index: 1;
}
/*------------------------------FILE FIELD END-------------------------------*/
/* Для редклос */
.myclass {
    margin-left: 200px;
}