/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

input {
	width: 150px !important;
}

#main_image {
	float: left;
}
.admin_name {
	color: red !important;
}
.control-label {
	width: 150px !important;
}
#midls {
	width: 600px;
	margin: 0 auto;
}
#sixhan {
	width: 1000px;
}
.message {
	color: #1C1C1C;
	background-color: #FFC1C1;
	display: inline-block;
	position: absolute;
	left: 520px;
	margin: -5px;
	padding: 0 6px;
	border: 1px solid black;
	border-radius: 5px;
}
#inputName {
	position: relative;
}
.btn-info {
	width: 300px !important;
	margin-left: 50px;
}
#right {
	width: 750px;
	float: right;
	margin-right: 150px;
}
.dl-horizontal dt {
	width: 150px !important;
}
.dl-horizontal dd {
	margin-left: 180px !important;
}

.form-search {
	text-align: center !important;
	margin: 0 !important;
}




.del {
	text-decoration: line-through;
}
.new_post {
	margin-bottom: 20px !important;
	margin-left: 50px;
}
#all_posts_box {
	width: 900px;
	margin-left: 150px;
	padding: 20px 20px 20px 20px;
	background-color: #F9F9F9;
}
.box_of_post {
	background-color: white;
	padding-top: 10px;
}

.title_box h4 {
	color: #0B2C39;
    font-family: Georgia;
    font-size: 16px;
    font-style: italic;
    font-weight: normal;
	padding-left: 160px;
	padding-top: 20px;
	margin-bottom: 25px;
	padding-bottom: 2px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.body_box {
	margin: 15px 22px 5px 22px;
	text-indent: 10px;
	color: #605E5E;
	line-height: 18px;
}
.body_box img {
	margin: 0 20px 5px 5px;
	float: left;
}
.tags {
	margin-left: 15px;
	padding-bottom: 10px;
	float: left;
}
.tags a {
	margin-right: 4px;
}
.time_pablised {
	float: right;
	font-size: 12px;
	margin-right: 50px;
}
.id_of_post {
	float: left;
	margin-left: 12px;
}
.autor {
	float: right;
	margin-right: 12px;
}
.clear {
	clear: both;
}
.controls_area {
	text-align: center;
	padding-bottom: 10px;
	padding-top: 10px;
	background-color: #DCDCDC;
}
.admin_area_btn {

}
#text_area {
	width: 600px !important;
}
.btn_back {
	margin-left: 50px !important;
	margin-top: 20px !important;
}